
<br>
<br>
  <table class="table table-striped">
  
    <tr>
      <th scope="col">emidetails_id</th>
       <th scope="col">productId</th>
      <th scope="col">customerId</th>
      <th scope="col">customerName</th>
      <th scope="col">monthlyEmiAmount</th>
     <th scope="col">installment</th> 
      
    </tr>
 
  
   <tr>
  <td>{{data.emiDetailsId}}</td>
   <td>{{data.productId}}</td>
  <td>{{data.customerId}}</td>
  <td>{{data.customerName}}</td>
  <td>{{data.monthlyEmiAmount}}</td>
  <td>{{data.installment}}</td>
  </tr>
  </table>